<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <title>线下场景宝-抽奖</title>
    <link rel="stylesheet" type="text/css" href="/static/home/icon-custom/iconfont.css">
    <link rel="stylesheet" href="/static/home/css/frozen.css">
    <link rel="stylesheet" href="/static/home/css/index.css">
    <link rel="stylesheet" href="/static/home/css/app.css">
    <link rel="stylesheet" href="/static/home/css/dialog-plugin.css">
</head>
<body ontouchstart="">
<footer class="ui-footer ui-footer-btn">
    <ul class="ui-tiled ui-border-t">
        <li data-href="index.html" class="ui-border-r "><a href="/home/index/index"><div class="circle"><i class="iconfont icon-shouye-xuanze1"></i></div><div class="">首页</div></a></li>
        <li data-href="ui.html" class="ui-border-r active"><a href="/home/index/award"><div class="circle"><i class="iconfont icon-choujiang1"></i></div><div>抽奖</div></a></li>
        <li data-href="ui.html" class="ui-border-r "><a href="/home/member/index"><div class="circle"><i class="iconfont icon-gerenzhongxin1"></i></div><div>个人中心</div></a></li>
    </ul>
</footer>
<img id="award-background" src="/static/home/img/choujiang-bg5.png" alt="">
<div class="lottery-layout">
    <!-- lotterylist -->
    <div id="lottery-list" class="lottery-list">
        <dl class="lottery-cardlist" id="lottery-cardlist">
            <dd></dd>
            <dd>1</dd>
            <dd>2</dd>
            <dd>3</dd>
            <dd>4</dd>
            <dd>5</dd>
            <dd>6</dd>
            <dd>7</dd>
            <dd>8</dd>
            <dd>9</dd>
            <dd>10</dd>
            <dd>11</dd>
            <dd>12</dd>
            <dd></dd>
        </dl>
    </div>
    <div class="lottery-run button blue" id="run"></div>
</div>
<script src="/static/home/lib/zepto.min.js"></script>
<script src="/static/home/js/lottery.js"></script>
<script src="/static/home/js/dialog-plugin.js"></script>
<script >
window.onload = function(){
  document.getElementById('run').onclick = function() {
    var _lot = new lottery({ "total": 5, "ms": 500, "time": 1, "award": 6 });
    _lot.run();
    //调用ajax记得加lock,防止多次点击
    /*
       * total:转几圈   number
       * ms:动画速度毫秒 number
       * time:抽奖机会  number
       * award:中的啥奖 number
       */
    $.ajax({
        url: '/home/index/lottery',
        type: 'post',
        dataType:'json',
        success: function (response) {
           console.log(response);
           if(response.code === '-1'){return false;}
        },
        error: function () {
            console.error('出错!');
        }
      });

  }
}
</script>
</body>
</html>