<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <title>线下场景宝-首页</title>
    <link rel="stylesheet" type="text/css" href="/static/home/icon-custom/iconfont.css">
    <link rel="stylesheet" href="/static/home/css/frozen.css">
    <link rel="stylesheet" href="/static/home/css/index.css">
    <link rel="stylesheet" href="/static/home/css/dialog-plugin.css">
</head>
<body ontouchstart="">
<footer class="ui-footer ui-footer-btn">
    <ul class="ui-tiled ui-border-t">
        <li data-href="index.html" class="ui-border-r active "><a href="/home/index/index"><div class="circle"><i class="iconfont icon-shouye-xuanze1"></i></div><div class="">首页</div></a></li>
        <li data-href="ui.html" class="ui-border-r "><a href="/home/index/award"><div class="circle"><i class="iconfont icon-choujiang1"></i></div><div>抽奖</div></a></li>
        <li data-href="ui.html" class="ui-border-r "><a href="/home/member/index"><div class="circle"><i class="iconfont icon-gerenzhongxin1"></i></div><div>个人中心</div></a></li>
    </ul>
</footer>
<section id="banner" class="ui-placehold-img">
    <span style="background-image:url(/static/home/img/banner.png);"></span>
</section>
<ul id="test-flex">
    <li class="test-img"><a href="/home/index/coupons_list/id/1"><img src="/static/home/img/food.png" alt=""></a></li>
    <li class="test-img"><img src="/static/home/img/food.png" alt=""></li>
    <li class="test-img"><img src="/static/home/img/food.png" alt=""></li>
    <li class="test-img"><img src="/static/home/img/food.png" alt=""></li>
    <li class="test-img"><img src="/static/home/img/food.png" alt=""></li>
</ul>
<p class="list-title">-- 热门 --</p>
<section class="ui-container">
    <ul class="ui-list ui-list-link ui-border-tb">
        {foreach $list as $vo }
        <li class="ui-border-t">
            <div class="ui-list-img">
                {if !empty($vo['thumd'])}
                <span style="background-image:url({$vo.thumd})"></span>
                {else/}
                <span style="background-image:url({$vo.class_thumd})"></span>
                {/if}
            </div>
            <div class="ui-list-info">
                <h4 class="ui-nowrap">{$vo.name}</h4>
                <p class="ui-nowrap">商户地址：{$vo.store_address}</p>
                <p class="ui-nowrap">商户电话：{$vo.store_phone}</p>
                <p class="ui-nowrap sale"><span class="sale-info">{$vo.discount}折</span><span class="sale-type">优惠券</span></p>
            </div>
            <a href="javascript:void(0);"><div class="btn" onclick="add_coupons({$vo.id});">立即领取</div></a>
        </li>
        {/foreach}
    </ul>
</section>
<script src="/static/home/lib/zepto.min.js"></script>
<script src="/static/home/js/frozen.js"></script>
<script src="/static/home/js/dialog-plugin.js"></script>
<script>
  (function (){
    var tab = new fz.Scroll('.ui-tab', {
      role: 'tab',
      autoplay: true,
      interval: 3000
    });
    /* 滑动开始前 */
    tab.on('beforeScrollStart', function(fromIndex, toIndex) {
      console.log(fromIndex,toIndex);// from 为当前页，to 为下一页
    })
  })();
    //领取优惠券
    function add_coupons( id ){
        $.ajax({
            url:'/home/index/add_coupons_log',
            type:'get',
            dataType:'json',
            data:{'id':id},
            success:function( re ){
                if( re.code != 1){
                  $.dialog({
                    showTitle : false,
                    contentHtml : '<p style="text-align: center;">'+re.msg+'</p>'
                  });
                }else{
                  $.dialog({
                    showTitle : false,
                    contentHtml : '<p style="text-align: center;">'+re.msg+'</p>'
                  });
                    window.location.href = '/home/member/index';
                }
            }
        });
    }
</script>
</body>
</html>