dl,dd{
	margin: 0;
	padding: 0;
}
.button{
	font:15px Calibri, Arial, sans-serif;
	text-shadow:1px 1px 0 rgba(255,255,255,0.4);
	text-decoration:none !important;
	white-space:nowrap;
	display:inline-block;
	vertical-align:baseline;
	position:relative;
	cursor:pointer;
	padding:10px 20px;
	background-repeat:no-repeat;
	background-position:bottom left;
	background-position:bottom left, top right, 0 0, 0 0;
	background-clip:border-box;

	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	
	-moz-box-shadow:0 0 1px #fff inset;
	-webkit-box-shadow:0 0 1px #fff inset;
	box-shadow:0 0 1px #fff inset;
	
	-webkit-transition:background-position 1s;
	-moz-transition:background-position 1s;
	transition:background-position 1s;
}

.button:hover{
	background-position:top left;
	background-position:top left, bottom right, 0 0, 0 0;
}

.button:active{
	bottom:-1px;
}







/* BlueButton */
.blue.button{
	color:#0f4b6d !important;
	
	border:1px solid #84acc3 !important;
	
	/* A fallback background color */
	background-color: #48b5f2;
	
	/* Specifying a version with gradients according to */
	
	background-image:	url('../img/button_bg.png'), url('../img/button_bg.png'),
						-moz-radial-gradient(	center bottom, circle,
												rgba(89,208,244,1) 0,rgba(89,208,244,0) 100px),
						-moz-linear-gradient(#4fbbf7, #3faeeb);

	background-image:	url('../img/button_bg.png'), url('../img/button_bg.png'),
						-webkit-gradient(	radial, 50% 100%, 0, 50% 100%, 100,
											from(rgba(89,208,244,1)), to(rgba(89,208,244,0))),
						-webkit-gradient(linear, 0% 0%, 0% 100%, from(#4fbbf7), to(#3faeeb));
}

.blue.button:hover{
	
	background-image:	url('../img/button_bg.png'), url('../img/button_bg.png'),
						-moz-radial-gradient(	center bottom, circle,
												rgba(109,217,250,1) 0,rgba(109,217,250,0) 100px),
						-moz-linear-gradient(#63c7fe, #58bef7);
						
	background-image:	url('../img/button_bg.png'), url('../img/button_bg.png'),
						-webkit-gradient(	radial, 50% 100%, 0, 50% 100%, 100,
											from(rgba(109,217,250,1)), to(rgba(109,217,250,0))),
						-webkit-gradient(linear, 0% 0%, 0% 100%, from(#63c7fe), to(#58bef7));
}











.lottery-layout{
	background:#e4d150;
	height: 400px;
	width:400px;
	margin: 30px auto;
	border-radius: 25px;
	box-shadow: 2px 2px 3px #b2452f;
	box-sizing: border-box;
	border:1px solid #e4d150;


}
#lottery-list{
	overflow: hidden;

}
#lottery-list card{
	width:200px;
	height:160px;
	background: #ccc;

}
.lottery-cardlist{
	width: 200px;
	margin: 0 auto;
	position: absolute;
}
.lottery-list .mask{
	background: rgba(203,189,131,0.2);
	height:15px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	display: block;
	z-index: 200;
	width: 100%;
	left:0;
	position: absolute;
	top:0;
}
.lottery-list .mask:nth-child(2){
	background: rgba(203,189,131,0.2);
	height:15px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	display: block;
	z-index: 200;
	width: 100%;
	position: absolute;
	left:0;
	bottom:0;
	top:inherit;

}
.lottery-run{
	width:100px;
	margin:  20px auto;
	color: #fff;
	display: block;
}
.lottery-list{
	background:#faefc3;
	position: relative;
	width:300px;
	height:200px;
	margin: 0 auto;
	border:4px solid #4c170d;
	border-radius: 20px;

}
.lottery-number{
	margin: 20px;
	font-size: 14px;
	color: #fff;
	background:#7c2c1c;
	text-align: center;
	display: block;
	border-radius: 20px;
	padding:10px 0;
}

.lottery-cardlist{
	width:200px;
	margin: 0 auto;
	position: absolute;
	left:50px;
	top:-70px;
	z-index: 10;
}
.lottery-cardlist dd{
	width:100%;
	height:100px;
	line-height: 100px;
	text-align: center;
	color: #fff;
	background: #c883cb;
	margin: 10px 0;
	border-radius: 10px;
}


body{
	background: #fc6767;
}