dl,dd{
	margin: 0;
	padding: 0;
}
.button{
	font:15px Calibri, Arial, sans-serif;
	text-shadow:1px 1px 0 rgba(255,255,255,0.4);
	text-decoration:none !important;
	white-space:nowrap;
	display:inline-block;
	vertical-align:baseline;
	position:relative;
	cursor:pointer;
	padding:10px 20px;
	background-repeat:no-repeat;
	background-position:bottom left;
	background-position:bottom left, top right, 0 0, 0 0;
	background-clip:border-box;

	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;

	-moz-box-shadow:0 0 1px #fff inset;
	-webkit-box-shadow:0 0 1px #fff inset;
	box-shadow:0 0 1px #fff inset;

	-webkit-transition:background-position 1s;
	-moz-transition:background-position 1s;
	transition:background-position 1s;
}

.button:hover{
	background-position:top left;
	background-position:top left, bottom right, 0 0, 0 0;
}

.button:active{
	bottom:-1px;
}

/* BlueButton */
.blue.button{
	text-align: center;
	box-shadow:none;
	border: none;
}

/* BlueButton */
.gray.button{
	text-align: center;
	color: #49bfec !important;
	border:1px solid #cccccc !important;
	/* A fallback background color */
	background-color: #cccccc;
}

.lottery-layout{
	margin-top: 68.6vw;
	/* margin: 0 auto; */
	width: 100%;
	/* display: inline-block; */
	/* background: #e4d150; */
	/* border-radius: 25px; */
	/* box-shadow: 2px 2px 3px #b2452f; */
	/* box-sizing: border-box; */
	/* border: 1px solid #e4d150; */
}
#lottery-list{
	overflow: hidden;
}
#lottery-list card{
	width:200px;
	height:160px;
	background: #ccc;

}
.lottery-cardlist{
	width: 200px;
	margin: 0 auto;
	position: absolute;
}
.lottery-list .mask{
	background: rgba(203,189,131,0.2);
	height:15px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	display: block;
	z-index: 200;
	width: 100%;
	left:0;
	position: absolute;
	top:0;
}
.lottery-list .mask:nth-child(2){
	background: rgba(203,189,131,0.2);
	height:15px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	display: block;
	z-index: 200;
	width: 100%;
	position: absolute;
	left:0;
	bottom:0;
	top:inherit;

}
.lottery-run{
	font-size: 5vw;
	width: 34%;
	height: 9vw;
	margin: 8% auto 0 auto;
	color: #fff;
	display: block;
}
.lottery-list{
	background: #2f2f2f;
	position: relative;
	width: 61vw;
	height: 33.5vw;
	margin: 0 auto;
	border: 1vw solid #4c170d;
	border-radius: 3vmin;
}
.lottery-number{
	margin: 20px;
	font-size: 14px;
	color: #fff;
	background:#7c2c1c;
	text-align: center;
	display: block;
	border-radius: 20px;
	padding:10px 0;
}

.lottery-cardlist{
	width: 100%;
	margin: 0 auto;
	position: absolute;
	left: 0;
	top: -26.5vw;
	z-index: 10;
}
.lottery-cardlist dd{
	/* width: 100%; */
	/*height: 100px;*/
	height: 25vw;
	line-height: 94px;
	text-align: center;
	color: #d82d2e;
	/*background: #c883cb;*/
	background-color: #ffffff;
	margin: 2.8vw 1vw;
	/*border-radius: 10px;*/
}

#award-background{
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	margin-bottom: 56px;
}

.sale-info{
	font-size: 6vw;
}

.ui-list-img{
	padding: 2.5vw;
	width: 20vw;
	/* display: inline-block; */
	float: left;
	height: 20vw;
	margin: 0;
}