<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>门店列表</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link href="__CSS__/bootstrap.min.css?v=3.3.6" rel="stylesheet">
    <link href="__CSS__/font-awesome.min.css?v=4.4.0" rel="stylesheet">
    <link href="__CSS__/plugins/bootstrap-table/bootstrap-table.min.css" rel="stylesheet">
    <link href="__CSS__/animate.min.css" rel="stylesheet">
    <link href="__CSS__/style.min.css?v=4.1.0" rel="stylesheet">
    <link href="__CSS__/plugins/sweetalert/sweetalert.css" rel="stylesheet">
    <script src="__JS__/jquery.min.js?v=2.1.4"></script>
    <script src="__JS__/plugins/layer/layer.min.js"></script>
</head>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <!-- Panel Other -->
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>门店列表</h5>
        </div>
        <div class="ibox-content">
            <div class="form-group clearfix col-sm-1">
                {if authCheck('storecoupons/store_add') }
                <a href="{:url('storecoupons/store_add')}">
                    <button class="btn btn-outline btn-primary" type="button">添加门店</button>
                </a>
                {/if}
            </div>
            <!--搜索框开始-->
            <form  method="get" class="form-inline pull-right">
                <div class="content clearfix m-b">
                    <div class="form-group">
                        <label>名称：</label>
                        <input type="text" class="form-control"  name="name" {if !empty($get['name'])} value="{$get.name}"{/if}>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary"  style="margin-top:5px" id="search"><strong>搜 索</strong>
                        </button>
                    </div>
                </div>
            </form>
            <!--搜索框结束-->
            <div class="example-wrap">
                <div class="example">
                    <table id="cusTable" class="table table-hover table-striped">
                        <thead>
                        <th>门店ID</th>
                        <th>门店名称</th>
                        <th>缩略图</th>
                        <th>门店地址</th>
                        <th>所属优惠券</th>
                        <th>添加时间</th>

                        <th>管理员</th>
                        <th>状态</th>
                        <th>操作</th>
                        </thead>
                        <tbody>
                        {if $list->total()!=0}
                        {foreach $list as $v }
                        <tr>
                            <td>{$v.id}</td>
                            <td>{$v.store_name}
                            {if !empty($v.store_thumd)}
                            <td><img src="{$v.store_thumd}" style="width: 40px; height: 40px;"></td>
                            {else/}
                            <td></td>
                            {/if}
                            <td>{$v.store_address}</td>
                            <td>{$v.c_name}</td>
                            <td>{$v.add_time|date='Y-m-d',###}</td>
                            <td>{$v.user_name}</td>
                            {eq name="v.status" value="1"}
                            <td>正常</td>
                            {else/}
                            <td>禁用</td>
                            {/eq}
                            <td>
                                {if authCheck('storecoupons/store_edit') }
                                <a href="/admin/Storecoupons/store_edit/id/{$v.id}">
                                    <button type="button" class="btn btn-primary btn-sm"><i class="fa fa-paste"></i>编辑</button>
                                </a>
                                {/if}
                                {if authCheck('storecoupons/coupons_del') }
                                <a href="javascript:storeDel({$v.id})">
                                    <button type="button" class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i> 删除</button>
                                </a>
                                {/if}
                            </td>
                        </tr>
                        {/foreach}
                        {else/}
                        <tr style="text-align: center">
                            <td colspan="9">没有找到匹配的记录</td>
                        </tr>
                        {/if}
                        </tbody>
                    </table>
                    <div style="text-align: center">
                        {$list->render()}
                    </div>
                </div>
            </div>
            <!-- End Example Pagination -->
        </div>
    </div>
</div>
<!-- End Panel Other -->
</div>
<script type="text/javascript">
    function storeDel(id){
        layer.confirm('确认删除此门店?', {icon: 3, title:'提示'}, function(index){
            $.getJSON("{:url('store_del')}", {'id' : id}, function(res){
                if(1 == res.code){
                    layer.alert(res.msg, {title: '友情提示', icon: 1, closeBtn: 0}, function(){
                        window.location.reload();
                    });
                }else{
                    layer.alert(res.msg, {title: '友情提示', icon: 2});
                }
            });
            layer.close(index);
        })
    }
</script>
</body>
</html>
