<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <title>线下场景宝-详情</title>
    <link rel="stylesheet" type="text/css" href="/static/home/icon-custom/iconfont.css">
    <link rel="stylesheet" href="/static/home/css/frozen.css">
    <link rel="stylesheet" href="/static/home/css/index.css">
    <link rel="stylesheet" href="/static/home/css/detail.css">
    <link rel="stylesheet" href="/static/home/css/dialog-plugin.css">
</head>
<body ontouchstart="">
<footer class="ui-footer ui-footer-btn">
    <ul class="ui-tiled ui-border-t">
        <li data-href="index.html" class="ui-border-r"><a href="/home/index/index"><div class="circle"><i class="iconfont icon-shouye-xuanze1"></i></div><div class="">首页</div></a></li>
        <li data-href="ui.html" class="ui-border-r "><a href="/home/index/award"><div class="circle"><i class="iconfont icon-choujiang1"></i></div><div>抽奖</div></a></li>
        <li data-href="ui.html" class="ui-border-r active"><a href="/home/member/index"><div class="circle"><i class="iconfont icon-gerenzhongxin1"></i></div><div>个人中心</div></a></li>
    </ul>
</footer>
<section id="banner" class="ui-placehold-img">
    <span style="background-image:url(/static/home/img/detail_banner1.jpg);"></span>
</section>
<section class="header">
    <h3 class="title">{$info.name}</h3>
    <input type="hidden" class="log_id" value="{$info.id}">
    <p class=""><span class="sale-info">{$info.discount}折</span><span class="sale-type">优惠券</span></p>
    <div class="btn" onclick="use();">立即使用</div>
</section>
<section class="body">
    <p class="dress">地址：{$info.store_address}</p>
    <p class="phone">电话：{$info.store_phone}</p>
</section>
<section class="footer">
    <h4 class="footer-title">使用规则</h4>
    <p class="detail-info">{$info.desc}</p>
</section>
<script src="/static/home/lib/zepto.min.js"></script>
<script src="/static/home/js/frozen.js"></script>
<script src="/static/home/js/dialog-plugin.js"></script>
<script>
    (function (){
        var tab = new fz.Scroll('.ui-tab', {
            role: 'tab',
            autoplay: true,
            interval: 3000
        });
        /* 滑动开始前 */
        tab.on('beforeScrollStart', function(fromIndex, toIndex) {
            console.log(fromIndex,toIndex);// from 为当前页，to 为下一页
        })
    })();
</script>
<script>
  //使用券，获取券码
  function use(){
      $.ajax({
          url: '/home/member/use_award',
          type: 'post',
          dataType:'json',
          data:{'id':$('.log_id').val()},
          success: function (response) {
              $.dialog({
                  titleText: '优惠券券码',
                  contentHtml : '<p class="quanma">'+response.data+'</p>'
              });
          },
          error: function () {
              console.error('出错!');
          }
      });
  }
</script>
</body>
</html>