<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>门店优惠券列表</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link href="__CSS__/bootstrap.min.css?v=3.3.6" rel="stylesheet">
    <link href="__CSS__/font-awesome.min.css?v=4.4.0" rel="stylesheet">
    <link href="__CSS__/plugins/bootstrap-table/bootstrap-table.min.css" rel="stylesheet">
    <link href="__CSS__/animate.min.css" rel="stylesheet">
    <link href="__CSS__/style.min.css?v=4.1.0" rel="stylesheet">
    <link href="__CSS__/plugins/sweetalert/sweetalert.css" rel="stylesheet">
    <script src="__JS__/jquery.min.js?v=2.1.4"></script>
    <script src="__JS__/plugins/layer/layer.min.js"></script>
</head>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <!-- Panel Other -->
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>门店优惠券列表</h5>
        </div>
        <div class="ibox-content">
            <div class="form-group clearfix col-sm-1">
                {if authCheck('coupons/coupons_add') }
                <a href="{:url('coupons/coupons_add')}">
                <button class="btn btn-outline btn-primary" type="button">添加优惠券</button>
                </a>
                {/if}
            </div>
            <!--搜索框开始-->
            <form  method="get" class="form-inline pull-right">
                <div class="content clearfix m-b">
                    <div class="form-group">
                        <label>名称：</label>
                        <input type="text" class="form-control"  name="name" {if !empty($get['name'])} value="{$get.name}"{/if}>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary"  style="margin-top:5px" id="search"><strong>搜 索</strong>
                        </button>
                    </div>
                </div>
            </form>
            <!--搜索框结束-->
            <div class="example-wrap">
                <div class="example">
                    <table id="cusTable" class="table table-hover table-striped">
                        <thead>
                        <th>优惠券ID</th>
                        <th>优惠券名称</th>
                        <th>折扣</th>
                        <th>缩略图</th>
                        <th>登录电话</th>
                        <th>优惠券描述</th>
                        <th>门店地址</th>
                        <th>添加时间</th>
                        <th>开始时间</th>
                        <th>结束时间</th>
                        <th>所属分类</th>
                        <th>是否推荐</th>
                        <th>修改密码</th>
                        <th>启用状态</th>
                        <th>操作</th>
                        </thead>
                        <tbody>
                        {if $list->total()!=0}
                        {foreach $list as $v }
                        <tr>
                            <td>{$v.id}</td>
                            <td>{$v.name}</td>
                            <td>{$v.discount}</td>
                            <td><img src="{$v.thumd}" style="width: 40px; height: 40px;"></td>
                            <td>{$v.login_phone}</td>
                            <td>{$v.desc|my_substr=0,10}</td>
                            <td>{$v.store_address|my_substr=0,10}</td>
                            <td>{$v.add_time|date='Y-m-d',###}</td>
                            <td>{$v.start_time|date='Y-m-d',###}</td>
                            <td>{$v.end_time|date='Y-m-d',###}</td>
                            <td>{$v.class_name}</td>

                            {eq name="v.is_recommend" value="1"}
                            <td style="color: green"><i class="fa fa-check"></i></td>
                            {else/}
                            <td style="color: red"><i class="fa fa-close"></i></td>
                            {/eq}

                            {eq name="v.is_modify" value="1"}
                            <td style="color: green">是</td>
                            {else/}
                            <td style="color: red">否</td>
                            {/eq}

                            {eq name="v.status" value="1"}
                            <td style="color: green">启用</td>
                            {else/}
                            <td style="color: red">禁用</td>
                            {/eq}
                            <td>
                                {if authCheck('coupons/coupons_edit') }
                                <a href="/admin/coupons/coupons_edit/id/{$v.id}">
                                    <button type="button" class="btn btn-primary btn-sm"><i class="fa fa-paste"></i>编辑</button>
                                </a>
                                {/if}
                                {if authCheck('coupons/coupons_del') }
                                <a href="javascript:couponsDel({$v.id})">
                                    <button type="button" class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i> 删除</button>
                                </a>
                                {/if}
                                {if authCheck('coupons/reset_pass') }
                                <a href="javascript:reset_pass({$v.id})">
                                    <button type="button" class="btn btn-warning btn-sm"><i class="fa fa-mail-reply"></i> 重置密码</button>
                                </a>
                                {/if}
                            </td>
                        </tr>
                        {/foreach}
                        {else/}
                        <tr style="text-align: center">
                            <td colspan="14">没有找到匹配的记录</td>
                        </tr>
                        {/if}
                        </tbody>
                    </table>
                    <div style="text-align: center">
                        {$list->render()}
                    </div>
                </div>
            </div>
            <!-- End Example Pagination -->
        </div>
    </div>
</div>
<!-- End Panel Other -->
</div>
<script type="text/javascript">
    function couponsDel(id){
        layer.confirm('确认删除此优惠券?', {icon: 3, title:'提示'}, function(index){
            $.getJSON("{:url('coupons_del')}", {'id' : id}, function(res){
                if(1 == res.code){
                    layer.alert(res.msg, {title: '友情提示', icon: 1, closeBtn: 0}, function(){
                        window.location.reload();
                    });
                }else{
                    layer.alert(res.msg, {title: '友情提示', icon: 2});
                }
            });
            layer.close(index);
        })
    }
    function reset_pass(id){
        layer.confirm('确认重置此优惠券登录密码?', {icon: 3, title:'提示'}, function(index){
            $.getJSON("{:url('reset_pass')}", {'id' : id}, function(res){
                if(1 == res.code){
                    layer.alert(res.msg, {title: '友情提示', icon: 1, closeBtn: 0}, function(){
                        window.location.reload();
                    });
                }else{
                    layer.alert(res.msg, {title: '友情提示', icon: 2});
                }
            });
            layer.close(index);
        })
    }
</script>
</body>
</html>
